.assignment-list {
    border-left: 5px solid green!important;
}
.assignment-heading {
    background-color: rgb(218, 217, 217)!important;
}
.grey-button {
    background-color: rgb(218, 217, 217)!important;
}