.left-col {
    background-color: black;
    width: 95px;
    padding:0;
    height:100%;
    text-align: center;
    color: white;
    float:left;
}
.left-col li {
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    list-style-type: none;
    text-align:center;
}

.left-col .active {
    background-color: white;
}
.second-col {
    width: 190px;
    float:left;
    padding-top: 15px;    
    height: 110%;
}

.second-col .header {
    padding-left: 40px;
}

.header {
    padding: 10px;
}

.second-col li {
    list-style-type: none;
    padding-bottom: 15px;
}

.second-col .profile {
    color:black;
}

.right-side {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.right-side p {
    padding-top: 20px;
}

.right-container {
    display:flex;
    flex-direction: row;
}

.right-side .info {
    display:flex;
    flex-direction:column;
}

.right-side .info .profile-icon {
    display: flex;
    flex-direction: row;
}

.right-side .info .profile-icon button {
    margin-left: 40%;
    height:100%;
}

.verticalLine{
    height:30px;
    width:20px;
    border-left:3px solid black;
  }

.p-2 {
    margin: 10px;
}  

.right-section {
    display: flex;
    flex-direction: row;
}

.right-section ol {
    font-weight: 600;
}

.status {
    display: flex;
    flex-direction: column;
}

.status button {
    width: 70%;
    text-align: center;
    color: black;
}

.btn-secondary {
    background-color: rgb(233, 232, 230);
    outline: white;
    color: black;
}

.outer {
    display:flex;
    flex-direction: row;
}

.list-group-item {
    display: flex;
    flex-direction: row;
}

.text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch:semi-condensed;

}

.thirdCol {
    float: left;
    width: 60%;
}

.thirdCol-second  {
    text-align: center;
}

.submission-right {
    outline: 2px solid black;
    padding: 10px;
    text-align:left;
}

.table {
    width: 80%;
}