.left-col {
    background-color: black;
    width: 95px;
    padding:0;
    height:100%;
    text-align: center;
    color: white;
    float:left;
}
.left-col li {
    height: 7%;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    list-style-type: none;
    text-align:center;
}

.left-col .active {
    background-color: white;
}
.columns {
    display: inline-block;
}

.second-col {
    float:right;
}